@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd8565; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #976a51; 
}
input[type=text], select, input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #bd8565;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aa785b;
}

div {
 
  border-radius: 5px;
  background-color: #659DBD;
  padding: 20px;
  
}
h1{
    display: flex;
    justify-content: center;
}
span{
  color: red;
}
#Condition{
  float: right;
}