@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd8565; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #976a51; 
}
body{
    background-color: #bd8565;
}
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  width: 100%;
  height: auto;
  background: none;
  border: 3px solid white;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #659DBD;;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: white;
}

.btn-1::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }
  
  .btn-1:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  img{
      width: 100%;
      max-width: 150px;
      height: auto;
  }
  