@page{
    size: A4 landscape;
    padding: 10px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
    text-align: center;
}
thead{
    font-weight: bolder;
}
tr td{
    border: solid 1px black;
    word-break:break-all;
}
