@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bd8565; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #976a51; 
  }
body{
  background-color: #e4e6eb;
  font-family: 'Poppins',sans-serif;
}
.collection{
    padding-top: 125px;
    display: flex;
    justify-content: center;
}
.card{
    margin: auto;
    width: 100%;
    max-width: 720px;
    height: auto;
    min-height: 80vh;
    background-color: #659DBD;
    border: 3px outset #659DBD;
    padding: 20px;
    border-radius: 10px;
}
#tab{
    font-size: 24px;
    border-bottom: solid 5px black;
    border-radius: 5px;
    margin-bottom: 20px;
}
span{
    color: red;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
}
label{
    margin-top: 5px;
}

#submit{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.dropdown-menu{
    overflow: scroll;
    height: 250px;
    width: 100%;
}
.btn-group{
    width: 100%;
}
.btn-default{
    width: 100%;
}
#agenda{
    padding: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    width: 100%;
}
